<div class="menu-profile">
    <div class="menu-profile-header">
        <div class="menu-profile-header__avatar">
            <img src="./assets/Images/avt.jpg" alt=""
                 class="menu-profile-header__avatar-img">
        </div>
        <div class="menu-profile-header__text">
            Đặng Công Tấn
        </div>
    </div>
    <div class="menu-profile-list">
        <div class="menu-profile-item"
             >
        <span class="material-symbols-outlined">
          account_circle
        </span>
            <a class="menu-profile-item-link" >Thông tin tài khoản</a>
        </div>
        <div  class="menu-profile-item"
             >
        <span class="material-symbols-outlined">
          sticky_note_2
        </span>
            <a class="menu-profile-item-link" >Sổ địa chỉ</a>
        </div>
        <div class="menu-profile-item"
             >
        <span class="material-symbols-outlined">
          list_alt
        </span>
            <a class="menu-profile-item-link" >Quản lí đơn hàng</a>
        </div>
        <div class="menu-profile-item"
             >
        <span class="material-symbols-outlined">
          collections_bookmark
        </span>
            <a class="menu-profile-item-link" >Danh mục yêu thích</a>
        </div>
        <div class="menu-profile-item">
        <span class="material-symbols-outlined">
          help
        </span>
            <a class="menu-profile-item-link" href="">Trợ giúp</a>
        </div>
    </div>
</div>
