<!-- Begin Footer -->
<footer class="footer">
    <div class="footer-main  py-3">
        <div class="container">
            <div class="row footer_top justify-content-between my-3 pb-3">
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <div class="item">
                        <h5 class="title-footer">Cửa hàng</h5>
                        <div class="sub-item">
                            <div class="content">
                                <a href="map" target="_blank"><i class="fas fa-map-marked"></i>
                                    Xem bản đồ đường đi</a>
                            </div>
                            <div class="content">
                                <a href="tel"><i class="fas fa-phone-alt"></i> Điện
                                    thoại: </a>
                            </div>
                            <div class="content">
                                <a href="address" target="_blank"><i
                                    class="fas fa-map-marker-alt"></i> Địa chỉ:</a>
                            </div>
                            <div class="content">
                                <a href="mailto:mail"><i class="fas fa-envelope"></i>
                                    Email: Email@</a>
                            </div>
                            <div class="content">
                                <a href="#">
                                    <i class="fas fa-clock"></i> Giờ mở cửa:9:00pm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12 mb-lg-0 mb-3">
                    <div class="item">
                        <h5 class="title-footer">Tổng đài hỗ trợ</h5>
                        <div class="sub-item mb-2">
                            <div class="content">
                                <a href="tel:0123456789">Gọi mua: 0123456789 (8:00 - 22:00)</a>
                            </div>
                            <div class="content">
                                <a href="tel:0123456789">Kỹ thuật: 0123456789 (8:00 - 22:00)</a>
                            </div>
                            <div class="content">
                                <a href="tel:0123456789">Khiếu nại: 0123456789 (8:00 - 22:00)</a>
                            </div>
                        </div>
                        <div class="social-container">
                            <ul class="social-icons">
                                <li><a href="https://biti.vn"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://biti.vn"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://biti.vn"><i class="fab fa-tiktok"></i></a></li>
                                <li><a href="https://biti.vn"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6 col-12 mb-lg-0 mb-3">
                    <div class="item">
                        <h5 class="title-footer">Thông tin</h5>
                        <div class="sub-item">
                            <div class="content">
                                <ul id="my-custom-footer-menu" class="list-unstyled mb-0">
                                    <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a
                                        title="Chính sách bảo mật" href="http://localhost/web-ban-hang/chinh-sach-bao-mat-2/">Chính sách bảo
                                        mật</a></li>
                                    <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a
                                        title="Chính sách khiếu nại" href="http://localhost/web-ban-hang/chinh-sach-khieu-nai/">Chính sách
                                        khiếu nại</a></li>
                                    <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a
                                        title="Chính sách bảo hành" href="http://localhost/web-ban-hang/chinh-sach-bao-hanh/">Chính sách bảo
                                        hành</a></li>
                                    <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a
                                        title="Chính sách thanh toán" href="http://localhost/web-ban-hang/chinh-sach-thanh-toan/">Chính sách
                                        thanh toán</a></li>
                                    <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a
                                        title="Chính sách giao hàng" href="http://localhost/web-ban-hang/chinh-sach-giao-hang/">Chính sách
                                        giao hàng</a></li>
                                    <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a
                                        title="Điều khoản &amp; Điều kiện" href="http://localhost/web-ban-hang/dieu-khoan-dieu-kien/">Điều
                                        khoản &amp; Điều kiện</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-12">
                    <div class="item">
                        <h5 class="title-footer">Kết nối với chúng tôi</h5>
                        <div class="sub-item">
                            <div class="content">
                                <div class="connect">
                                    <!--                  <iframe-->
                                    <!--                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbiti.vn%2F&tabs=timeline&width=250&height=250&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId"-->
                                    <!--                    width="250" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"-->
                                    <!--                    allowfullscreen="true"-->
                                    <!--                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">-->
                                    <!--                  </iframe>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer_copyright">
                <div class="item text-center">© Copyright BiTi. All rights reserved | Design by BITI HIGHTECH</div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
